<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812259237256-ct71vpivq93iaigj0dll1ids39do75kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812259237256-ct71vpivq93iaigj0dll1ids39do75kf</string>
	<key>API_KEY</key>
	<string>AIzaSyAKB4oj0gfWBgikQ2fVJARXQCUWu9XRLrU</string>
	<key>GCM_SENDER_ID</key>
	<string>812259237256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>clonmc-a8d4c</string>
	<key>STORAGE_BUCKET</key>
	<string>clonmc-a8d4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812259237256:ios:5295b06db1b76c53f4ee3d</string>
</dict>
</plist>